{% extends 'layouts/main.html' %}
{% block title %}Charger NET{% endblock %}
{% block content %}
<div class="row">
	<div class="col-sm-6">
		<h1>Charger NET 🌎</h1>
		<p class="lead">Where EV Drivers find chargers.</p>
		<h3>
			<a href="/chargers"><button class="btn btn-primary btn-lg">Find a Charger</button></a>
			<a href="/chargers/create"><button class="btn btn-default btn-lg">Add a Charger</button></a>
		</h3>
	</div>
	<div class="col-sm-6 hidden-sm hidden-xs">
		<img id="front-splash" src="{{ url_for('static',filename='img/evcharging.webp') }}" alt="EV Charging" />
	</div>
</div>
{% endblock %}